
@import "bootstrap";
@import "datetime";

h1, h2, h3, h4, li, a {
  font-family: inherit;
}

body {
  background-color: rgb(230, 218, 201);
  font-family: 'muli', sans-serif;
  color: #2E3831;
}

a {
  text-decoration: none;
  color: #2E3831;
}

a:hover {
  text-decoration: none;
  color: #2E3831;
}

a:visited {
  text-decoration: none;
  color: #2E3831;
}

.navbar-default {
  background-color: #C93514;
  border: 0;
}

.navbar {
  margin: 0;
  border-bottom: 4px solid #2E3831;
}

.navbar-header img {
  padding: 10px;
  width: 40%;
  height: 40%;
}

.navbar-default .navbar-nav > li > a {
  color: #E6DAC9;
  border-right: 2px solid #2E3831;
}

.navbar-default .navbar-nav li:first-child {
  border-left: 2px solid #2E3831;
}

.navbar-default .navbar-nav > li > a:hover {
  color: #2E3831;
}

.home {
  min-height: 300px;
}

.home-container {
  background-color: #C93514;
}

.home-image {
  display: block;
  margin: 0 auto;

}

.home-text-container {
  position: relative;
  max-width: 800px;
  padding-bottom: 150px;
  padding-right: 0;
  padding-left: 0;
  padding-top: 100px;
  margin: 0 auto;
  background-color: #C93514;
  animation: fadein 1.5s;
  -webkit-animation: fadein 1.5s;
}

@keyframes fadein {
    from {
        opacity:0;
        top: -75px;
    }
    to {
        opacity:1;
        top: 0px;
    }
}

@-webkit-keyframes fadein {
    from {
        opacity:0;
        top: -100px;
    }
    to {
        opacity:1;
        top: 0px;
    }
}

.home-text {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 60px;
  margin-top: 30px;
  margin-bottom: 40px;
}

.join-button {
  font-family: 'Montserrat', sans-serif;
  color: #E6DAC9;
  font-size: 22px;
  border: 2px solid #2E3831;
  padding: 10px;
  border-radius: 5px;
}

.join-container {
  margin: 0 auto;
  width: 217px;
}

.footer {
  height: 150px;
  background-color: #2E3831;
}

.footer-text {
  color: #E6DAC9;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  padding-top: 67px;
  margin: 0;
  font-size: 20px;
}

.btn-primary {
  background-color: rgba(169,54,41,.9);
  border-color: black;
  margin-top: 20px;
  margin-right: auto;
  margin-left: auto;
  width: 40%;
}

.form-control {
  margin-top: 30px;
}

.form-danger {
  border: 1px solid red;
}

.error-message {
  color: red;
  margin-bottom: 0;
}

.login-button {
  margin-bottom: 20px;
}

.login-greeter {
  margin-top: 35px;
  color: #ef6236;
}

.login-demo {
  display: flex;
  justify-content: space-around;
}

.thumbnail {
  height: 200px;
  overflow: hidden;
  padding: 0;
  margin-bottom: 30px;
  position: relative;
}

.thumbnail:hover .city-name {
  opacity: 0.6;
}

.city-name {
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0;
  position: absolute;
}

.city-text {
  color: white;
  text-align: center;
  padding-top: 78px;
  font-size: 25px;
}

.city-image {
  width: 320px;
  margin-right: 17px;
}

.city-list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
  margin-left: 17px;
  width: 1011px;
}

.city-container {
  margin: 70px 0px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.city-header-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
}

.city-header-text {
  text-align: center;
  margin: 0;
}

.city-header-subtext {
  text-align: center;
  margin-bottom: 50px;
}

.cover {
  height: 400px;
  width: 100%;
  overflow: hidden;
  position: relative;
  border: 0;
  border-radius: 0;
}

.cover-text {
  position: absolute;
  bottom: 5px;
  left: 62px;
  color: white;
}

.event-header-text {
  color: rgba(169,54,41,.9);
  margin-bottom: 3px;
}

.event-header-container {
  box-shadow: 0 3px 0 0 rgba(169,54,41,.9);
  max-width: 600px;
  margin-left: 100px;
}

.event-description {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  max-width: 600px;
  align-items: center;
}

.event-details {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 600px;
  align-items: center;
}

.join {
  margin: 0;
  padding: 0 5px;
  border-radius: 3px;
  border: 1px solid black;
  color: black;
  margin: 1px;
}

.join:hover {
  background-color: rgba(169,54,41,.9);
  color: white;
  text-decoration: none;
  cursor: pointer;
}

.desc {
  margin: 0;
  padding-right: 10px;
}

.details {
  margin: 0;
}

.event-container {
  margin-left: 100px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid black;
  max-width: 600px;
}

.new-event {
  color: black;
  border: 1px solid black;
  border-radius: 3px;
  padding: 5px;
  float: right;
}

.new-event:hover {
  background-color: rgba(169,54,41,.9);
  color: white;
  text-decoration: none;
  cursor: pointer;
}

.event-form-container {
  position: absolute;
  background-color: black;
  left: 50%;
  width: 400px;
  height: 500px;
  z-index: 1;
}
