<!DOCTYPE html>
<html>
<head>
  <title>PizzaWithStrangers</title>
  <link href="https://fonts.googleapis.com/css?family=Montserrat|Muli" rel="stylesheet">
  <link rel="icon" type="image/png" href="assets/pizza_logo.png">
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
